arrow==0.10.0
beautifulsoup4==4.6.0
cairocffi==0.8.0
CairoSVG==1.0.22
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
cssselect2==0.2.0
dj-database-url==0.2.1
Django==1.11.2
django-debug-toolbar==1.8
django-disqus==0.5
django-emoticons==1.2
django-forms-bootstrap==3.1.0
django-paypal==0.3.6
django-taggit==0.22.1
django-tinymce==2.6.0
djangorestframework==3.3.0
funcsigs==1.0.2
gunicorn==19.4.0
html5lib==0.999999999
idna==2.5
mock==2.0.0
MySQL-python==1.2.5
pbr==3.1.1
Pillow==2.9.0
pycparser==2.18
psycopg2==2.7.3.1
Pyphen==0.9.4
python-dateutil==2.6.0
pytz==2017.2
requests==2.18.1
six==1.10.0
sqlparse==0.2.3
stripe==1.62.0
tinycss2==0.6.0
urllib3==1.21.1
WeasyPrint==0.40
webencodings==0.5.1
whitenoise==3.2
