#content1 { 
    float:left;
    width:60%;
    padding:0 0 0 30px; 
}

#sidebar1 { 
    float:right;
    width:30%;
    padding:10px;
    background:#efefef; 
    height:100%;
}

#blog {
    padding-top: 185px;
    background: url(../img/img2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.story-img {
    margin-top: 25%;
    display: block;
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}

/* forms */
label { 
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}
.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

@media only screen
and (max-width: 768px) {
 
  #sidebar1 {
    display: none;
  }

  #content1 {
    width: 100%;
  }

  .text-center {
    text-align: left;
  }
}