{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

	 <div id="content">
		<h1>{{ post.title }}</h1>
		<p class="date">Published {{ post.publish }} by {{ post.author }}</p>
		{{ post.body|linebreaks }}
		<p><button class="btn btn-default" onclick="location.href='/blog'">Back to Blog</button> </p>
		<p><a href="{% url "blog:post_share" post.id %}">Share this post</a></p>
		{% load disqus_tags %}
		{% set_disqus_title post.title %}
		{% disqus_show_comments %}       
    </div>
    <div id="sidebar">
        <h2>My blog</h2>
        <p>This is my blog.</p>
    </div>


    
{% endblock %}