{% extends "shop/shopbase.html" %}
{% load bootstrap_tags %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
<div class="container shop-bottom">
    <div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        <h1>{{ product.name }}</h1>
        <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
        <p class="price">£{{ product.price }}</p>
        <form action="{% url "cart:cart_add" product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Add to cart">
        </form>
        {{ product.description|linebreaks }}
    </div>
    <div class="review">
    {% with reviews.count as total_reviews %}
        <h4>{{ total_reviews }} review{{ total_reviews|pluralize }}</h4>
    {% endwith %}
    </div>
    {% for review in reviews %}
        <div class="comment">
            <p class="info">Review {{ forloop.counter }} by {{ review.name }} {{ review.created }}</p>
            {{ review.body|linebreaks }}
        </div>
    {% empty %}
        
        <p>be the first to write a review.</p>
        
    {% endfor %}
    
    {% if user.is_authenticated %}
        {% if new_review %}
            <h4>Your review has been added.</h4>
        {% else %}
            <h4>Write a new product review</h4>
            <form action="." method="post">
                {{ review_form| as_bootstrap}}
                {% csrf_token %}
                <p><input type="submit" value="Add review"></p>
            </form>
        {%  endif %}
    {% endif %}
</div>
{% endblock %}